# Auto-detect text files and normalize them to LF in the repo, CRLF on Windows
* text=auto

# Explicitly set line endings for specific file types
*.c text eol=lf
*.h text eol=lf
*.sh text eol=lf
*.pl text eol=lf
*.mk text eol=lf
